.frame {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .frame .div-2 {
    background-color: #ffffff;
    height: 250vw;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  
  .frame .overlap {
    left: 0;
    position: absolute;
    top: 220vw;
    width: 100vw;
  }
  
  .frame .rectangle {
    background-color: #0d0d0d;
    height: 32vw;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .frame .screenshot {
    height: 851px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100vw;
  }
  
  .frame .p {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.3vw;
    font-weight: 400;
    left: 9vw;
    letter-spacing: 0.22px;
    line-height: 2vw;
    position: absolute;
    top: 72.6vw;
    width: 33vw;
    text-align: left;
  }
  
  .frame .rectangle-2 {
    background-color: #ffffff;
    height: 172px;
    left: 17px;
    position: absolute;
    top: 1547px;
    width: 150px;
  }
  
  .frame .rectangle-3 {
    background-color: #ffffff;
    height: 168px;
    left: 1297px;
    position: absolute;
    top: 1563px;
    width: 200px;
  }
  
  .frame .overlap-group {
    background-color: #272727;
    border-radius: 50px;
    height: 5.2vw;
    position: absolute;
    top: 36px;
    width: 76vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .frame .div-wrapper {
    background-color: #2280fd;
    border-radius: 45px;
    height: 3.7vw;
    right: 1vw;
    position: absolute;
    width: 6.7vw;
    font-size: 1vw;
    margin: 0;
  }
  
  .frame .overlap-2 {
    border: 0.1vw solid;
    border-color: #8c8c8ca1;
    border-radius: 45px;
    height: 3.4vw;
    right: 8.2vw;
    position: absolute;
    width: 20.5vw;
    display: flex;
    align-items: center;
  }
  
  .frame .text-wrapper-5 {
    background-color: transparent;
    border: none;
    outline: none;
    color: #8c8c8c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.2vw;
    font-weight: 400;
    left: 19px;
    line-height: normal;
    position: absolute;
    text-align: left;
    width: 200px;
  }
  
  .frame .rectangle-4 {
    background-color: #d9d9d933;
    border-radius: 40px;
    height: 2.6vw;
    left: 17.5vw;
    position: absolute;
    width: 2.6vw;
  }
  
  .frame .text-wrapper-6 {
    color: #8c8c8c;
    font-family: "Inter-Regular", Helvetica;
    font-size: 1.2vw;
    font-weight: 400;
    left: 3.5vw;
    position: absolute;
  }
  
  .frame .navbar {
    left: 14.4vw !important;
    position: absolute !important;
    color: #cbcbcb;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    width: 31.4vw;
    display: flex;
    justify-content: space-around;
  }

 .frame .navbar button{
    background-color: transparent;
    outline: none;
    margin: 0;
    font-size: 1.2vw;
 }
  
  .frame .overlap-3 {
    height: 69px;
    left: 9vw;
    position: absolute;
    top: 52vw;
    width: 279px;
  }
  
  .frame .rectangle-5 {
    background-color: #f5f5f5;
    color: black;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 4.4vw;
    left: 13.2vw;
    position: absolute;
    top: 0;
    width: 4.4vw;
  }
  
  .frame .rectangle-6 {
    background-color: #ececec;
    color: black;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 4.4vw;
    left: 9.9vw;
    position: absolute;
    top: 0;
    width: 4.4vw;
  }
  
  .frame .rectangle-7 {
    background-color: #70768e;
    color: white;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 4.4vw;
    left: 6.6vw;
    position: absolute;
    top: 0;
    width: 4.4vw;
  }
  
  .frame .rectangle-8 {
    background-color: #475489;
    color: white;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 4.4vw;
    left: 3.3vw;
    position: absolute;
    top: 0;
    width: 4.4vw;
  }
  
  .frame .rectangle-9 {
    background-color: #894779;
    color: white;
    border: 3px solid;
    border-color: #ffffff;
    border-radius: 40px;
    height: 4.4vw;
    left: 0;
    position: absolute;
    top: 0;
    width: 4.4vw;
  }
  
  .frame .text-wrapper-7 {
    font-family: "Noto Nastaliq Urdu-Regular", Helvetica;
    font-size: 2.4vw;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 4.3vw;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame .text-wrapper-8 {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 1.2vw;
    font-weight: 500;
    height: 38px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 18.2vw;
  }
  
  .frame .discover-a-world-of {
    color: #000000;
    font-family: "Inter-Medium", Helvetica;
    font-size: 1.3vw;
    font-weight: 500;
    height: 160px;
    letter-spacing: 0;
    line-height: 2.4vw;
    position: absolute;
    text-align: center;
    top: 32.8vw;
    width: 45vw;
  }
  
  .frame .unlock-the-full {
    color: transparent;
    font-family: "Outfit-Medium", Helvetica;
    font-size: 4.5vw;
    font-weight: 500;
    letter-spacing: -1.62px;
    line-height: 5vw;
    position: absolute;
    text-align: center;
    top: 17vw;
    width: 50vw;
  }
  
  .frame .span {
    color: #0d0d0d;
    letter-spacing: -1.31px;
  }
  
  .frame .text-wrapper-9 {
    color: #475489;
    letter-spacing: -1.31px;
  }
  
  .frame .text-wrapper-10 {
    color: #894779;
    letter-spacing: -1.31px;
  }
  
  .frame .our-tool-is-always {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 4.2vw;
    font-weight: 600;
    left: 9vw;
    letter-spacing: -1.38px;
    line-height: 4.2vw;
    position: absolute;
    top: 55vw;
    text-align: left;
  }
  
  .frame .overlap-4 {
    height: 183px;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .frame .text-wrapper-11 {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 2.6vw;
    font-weight: 600;
    height: 69px;
    top: 106.8vw;
    letter-spacing: -0.92px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .how-does-it-work {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.3vw;
    font-weight: 400;
    height: 160px;
    top: 110.5vw;
    letter-spacing: 0.3px;
    line-height: 1.9vw;
    position: absolute;
    text-align: center;
    align-self: center;
  }
  
  .frame .overlap-5 {
    border: 0.01vw solid;
    border-color: #000000;
    border-radius: 40px;
    height: 3.8vw;
    left: 9vw;
    position: absolute;
    top: 82.4vw;
    width: 17vw;
  }
  
  .frame .text-wrapper-12 {
    left: 0;
    color: #000000;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-family: "Outfit-Light", Helvetica;
    font-size: 1.3vw;
    font-weight: 300;
    height: 100%;
    width: 100%;
    letter-spacing: -0.88px;
    line-height: 32px;
    border-radius: 28px;
    position: absolute;
    white-space: nowrap;
  }
  
  .frame .overlap-6 {
    height: 444px;
    position: absolute;
    top: 174vw;
    width: 794px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .frame .wonder-how-colors {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.6vw;
    font-weight: 400;
    letter-spacing: 0.24px;
    line-height: 2.2vw;
    position: absolute;
    text-align: center;
    top: 13.6vw;
    align-self: center;
    justify-self: center;
  }
  
  .frame .rectangle-10 {
    background-color: #272727;
    border-radius: 50px;
    height: 6.4vw;
    position: absolute;
    top: 21.1vw;
    width: 50vw;
  }
  
  .frame .let-s-shift-to {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 6vw;
    font-weight: 600;
    height: 196px;
    left: 79px;
    letter-spacing: -2.04px;
    line-height: 6.3vw;
    position: absolute;
    text-align: center;
    top: 0;
    width: 636px;
  }
  
  .frame .text-wrapper-13 {
    color: #ffffff;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 1.7vw;
    font-weight: 600;
    letter-spacing: -0.54px;
    line-height: 10px;
    text-align: center;
    white-space: nowrap;
  }
  
  .frame .review-terms-and {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.1vw;
    font-weight: 400;
    height: 37px;
    letter-spacing: -0.18px;
    line-height: 35px;
    position: absolute;
    text-align: center;
    top: 203.6vw;
    white-space: nowrap;
    width: 315px;
  }
  
  .frame .text-wrapper-14 {
    letter-spacing: -0.03px;
  }
  
  .frame .text-wrapper-15 {
    font-family: "Outfit-Medium", Helvetica;
    font-weight: 500;
    letter-spacing: -0.03px;
  }
  
  .frame .overlap-group-2 {
    background-color: #E5E5E5;
    border-radius: 3.3vw;
    height: 37.4vw;
    left: 61.7vw;
    position: absolute;
    top: 119vw;
    width: 22.9vw;
  }
  
  .frame .improve-the {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.38vw;
    font-weight: 400;
    height: 160px;
    left: 2.3vw;
    letter-spacing: 0.22px;
    line-height: 2.3vw;
    position: absolute;
    top: 8.4vw;
    width: 18vw;
    text-align: left;
  }
  
  .frame .text-wrapper-16 {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 4.5vw;
    font-weight: 600;
    height: 69px;
    left: 2.3vw;
    letter-spacing: -1.28px;
    position: absolute;
    top: 3.7vw;
    white-space: nowrap;
  }
  
  .frame .overlap-7 {
    background-color: #E5E5E5;
    border-radius: 3.3vw;
    height: 37.4vw;
    position: absolute;
    top: 119vw;
    width: 22.9vw;
  }
  
  .frame .receive-personalized {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.38vw;
    font-weight: 400;
    height: 160px;
    left: 2.3vw;
    letter-spacing: 0.22px;
    line-height: 2.3vw;
    position: absolute;
    top: 8.4vw;
    width: 18vw;
    text-align: left;
  }
  
  .frame .text-wrapper-17 {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 4.5vw;
    font-weight: 600;
    height: 69px;
    left: 2.3vw;
    letter-spacing: -1.28px;
    position: absolute;
    top: 3.7vw;
    white-space: nowrap;
  }
  
  .frame .overlap-8 {
    background-color: #E5E5E5;
    border-radius: 3.3vw;
    height: 37.4vw;
    left: 15.4vw; 
    position: absolute;
    top: 119vw;
    width: 22.9vw;
  }
  
  .frame .hands-free {
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 1.38vw;
    font-weight: 400;
    height: 160px;
    left: 2vw;
    letter-spacing: 0.22px;
    line-height: 2.3vw;
    position: absolute;
    top: 8.4vw;
    width: 19vw;
    text-align: left;
  }
  
  .frame .text-wrapper-18 {
    color: #0d0d0d;
    font-family: "Outfit-SemiBold", Helvetica;
    font-size: 4.5vw;
    font-weight: 600;
    height: 69px;
    left: 2vw;
    letter-spacing: -1.28px;
    position: absolute;
    top: 3.5vw;
    white-space: nowrap;
  }